<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Day 056</display-name>
	<servlet>
		<servlet-name>ControlOne</servlet-name>
		<servlet-class>com.mvc.control.ControlServlet</servlet-class>
	</servlet>
	<!-- <servlet-mapping> <servlet-name>ControlOne</servlet-name> <url-pattern>*.do</url-pattern> 
		</servlet-mapping> -->

	<servlet>
		<servlet-name>ControllerURI</servlet-name>
		<servlet-class>mvc.Controller</servlet-class>
		<init-param>
			<param-name>propertyConfig</param-name>
			<param-value>Command.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerURI</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myControl</servlet-name>
		<servlet-class>com.mvcmem.control.ControlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>myControl</servlet-name>
		<url-pattern>*.mdo</url-pattern>
	</servlet-mapping>


</web-app>