body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position:fixed;
  z-index: 1;
  top: 10%;
  height:50%;
  left: 0;
  background-color: #3D9970;;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding:6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:#fff;
  display:block;
  border:none;
  background:none;
  width: 100%;
  text-align: left;
  cursor:pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  background-color: #fff;
  color:#3D9970;
}

.active {
  background-color: #3D9970;;
  color: #fff;
  
}

.dropdown-container {
  display: none;
  background: #3D9970;
  padding-left:8px;
}

