button {
	background-color: white;
	color: #3D9970;
}

.button, input[type=button], input[type=submit], input[type=reset] {
	background-color:#3D9970;
	color: white;
	border: 2px solid #3D9970;
	border-radius: 15px;
	padding: 13px 15px;
	font-size: 16px;
}

.button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-color: white;
	color: #3D9970;
	transition-duration: 0.3s;
	border: 2px wsolid #3D9970;
	cursor: pointer;
}

a {
	color: #3D9970;
}

.sidenav {
	border: 2px solid #3D9970;
	border-radius: 20px;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 11%;
	height: 70%;
	left: 10px;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 10px 0 10px 0;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.dropdown-btn {
	padding: 10px 0 10px 0;
	text-decoration: none;
	font-size: 20px;
	display: block;
	border: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
	transition-duration: 0.3s;
	background-color: #3D9970;
	color: white;
}

.active {
	background-color: #3D9970;
	color: white;
}

.dropdown-container {
	display: none;
	padding-left: 8px;
}